<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet" />
    <title>Gada Ethioia</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg shadow-sm sticky-top navbar-light bg-light p-3" style="top: 0px;">
    
        <a class="navbar-brand mr-auto mr-lg-0" href="#">GEDA</a>
    <form class="form-inline my-2 my-lg-0 d-flex flex-grow-1">
        <input class="form-control  rounded-0 flex-grow-1 border-0" type="text" placeholder="Search Donation Campaigns" aria-label="Search">
        <button class="btn btn-outline-secondary rounded-0 " type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
        </button>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
   
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">Campaign Dashboard <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/login}" sec:authorize=!isAuthenticated()> Log In
                </a>
        </li>
        <li class="nav-item" sec:authorize=isAuthenticated()>
            <form th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-primary" value="Log Out">
            </form>
        </li>
        </ul>
          
    </div>
    </nav>

    <h1 class="m-3">Add posts here</h1>
    <form method="post"  th:action = "@{/post}" class="container w-50" th:object = "${posts}" enctype="multipart/form-data" >
        <div>
            <label class= "form-label" for="title" > Title: </label>
            <input th:field="*{title}" type="text" th:class="|form-control ${#fields.hasErrors('title')? 'is-invalid': 'is-valid'}|" >
            <span class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title
                Error</span>
        <div>
            <label class="form-label" for="description"> Description: </label>
            <textarea th:field = "*{description}" rows="8" type="text" th:class="|form-control ${#fields.hasErrors('description')? 'is-invalid': 'is-valid'}|"></textarea>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description
                Error</span>
        <div>
            <label class="form-label" for="accountNumber"> Bank Account Number: </label>
            <input th:field="*{accountNumber}" type="text" th:class="|form-control ${#fields.hasErrors('accountNumber')? 'is-invalid': 'is-valid'}|" >
            <span class="invalid-feedback" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">ACC Num Error</span>
        </div>
            <div>

                <input name= "image" type="file" 
                    accept="image/png, image/jpeg, image/jpg" title="Only .jpg, .jpeg, .png files are allowed" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary center">
        
    </form>
    <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
</body>

</html>