<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet" />
    <title>Gada Ethioia</title>
</head>

<body>
    <h1 class="m-3">Add posts here</h1>
    <form method="post"  th:action = "@{/post}" class="container w-50" th:object = "${posts}" enctype="multipart/form-data" >
        <div>
            <label class= "form-label" for="title" > Title: </label>
            <input th:field="*{title}" type="text" th:class="|form-control ${#fields.hasErrors('title')? 'is-invalid': 'is-valid'}|" >
            <span class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title
                Error</span>
        <div>
            <label class="form-label" for="description"> Description: </label>
            <textarea th:field = "*{description}" rows="8" type="text" th:class="|form-control ${#fields.hasErrors('description')? 'is-invalid': 'is-valid'}|"></textarea>
            <span class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description
                Error</span>
        <div>
            <label class="form-label" for="accountNumber"> Bank Account Number: </label>
            <input th:field="*{accountNumber}" type="text" th:class="|form-control ${#fields.hasErrors('accountNumber')? 'is-invalid': 'is-valid'}|" >
            <span class="invalid-feedback" th:if="${#fields.hasErrors('accountNumber')}" th:errors="*{accountNumber}">ACC Num Error</span>
        </div>
            <div>

                <input name= "image" type="file" 
                    accept="image/png, image/jpeg, image/jpg" title="Only .jpg, .jpeg, .png files are allowed" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary center">
        
    </form>
    <script th:src="@{\js\bootstrap.bundle.min.js}"></script>
</body>

</html>