<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - GADA</title>
    <link th:href="@{\css\bootstrap.min.css}" rel="stylesheet" />
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>Sign Up to GADA</h1>
            <br>

            <form th:action="@{/register}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">

                <div class="row mb-3">

                    <label class="col-4 col-form-label">Username: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{username}" class="form-control" required />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{password}" class="form-control" required minlength="6" maxlength="10" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label">First Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}" class="form-control" required minlength="2" maxlength="20" />
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-4 col-form-label">Last Name: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}" class="form-control" required minlength="2" maxlength="20" />
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
        </div>
        </form>
    </div>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>